In [1]:
num = 6
if num %2 ==0:
    print("even")
else:
    print("odd")

even

In [5]:
num = 6
print("even") if num %2 ==0 else  print("odd")

even

In [7]:
x =10
result = "Positive" if x > 0 else "Negative"
print(result)

Positive

In [9]:
num = int(input("Enter a Number: "))
result = "Positive" if num > 0 else ("Negative" if num < 0 else "Zero")
print(result)

Enter a Number:  -369

Negative

In [11]:
L = [10,20,0,2,30,40,50]
[2*x for x in L]

[20, 40, 0, 4, 60, 80, 100]

In [15]:
L = [3,20,0,2,33,43,50,8,6,3,7]
[x for x in L if x%2 == 0]

[20, 0, 2, 50, 8, 6]

In [17]:
L = [3,20,0,2,33,43,50,8,6,3,7]
[x for x in L if x%2 != 0]

[3, 33, 43, 3, 7]

In [23]:
salaries = [40000, 60000, 80000, 45000]
[salary * 1.2 if salary <= 50000 else salary for salary in salaries]

[48000.0, 60000, 80000, 54000.0]

In [25]:
d1 = {'Ram':[70,71,98,100], 'John':[56,98,67,65]}
d1

{'Ram': [70, 71, 98, 100], 'John': [56, 98, 67, 65]}

In [36]:
{k:sum(v)/len(v) for k,v in d1.items()}

{'Ram': 84.75, 'John': 71.5}

In [5]:
def mean_value(given_list):
    total = sum(given_list)
    average_value = total/len(given_list)
    return average_value


sample_list = [10, 20, 30, 40, 50]
mean_value(sample_list)

30.0

In [9]:
def greet_user(name):
    return f"Good morning, {name}!"

user_name = "Anirudh"
greet_user(user_name)

'Good morning, Anirudh!'

In [17]:
def greet_user(name = "Anirudh"):
    return f"Good morning, {name}!"
greet_user()

'Good morning, Anirudh!'

In [19]:
def avg_value(*n):
    l =len(n)
    average = sum(n)/1
    return average
avg_value(10,20,60,90)

180.0