### Assumptons in multi linear Regression
- Linearity : the relationship between the predictors and the response is linear
- independence : observations are independent of each other
- homoscedasticity: the residuals (difference between observed and predicted values) exhibit constant variance at all levels of the predictor,
- normal distribution of errors : the residuals of the model are normally distributed
- no multicollinearity : the independent variables should not to be too highly correlated with each other

In [5]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.formula.api as smf
from statsmodels.graphics.regressionplots import influence_plot

In [7]:
cars = pd.read_csv("Cars.csv")
cars.head()

   HP        MPG  VOL          SP         WT
0  49  53.700681   89  104.185353  28.762059
1  55  50.013401   92  105.461264  30.466833
2  55  50.013401   92  105.461264  30.193597
3  70  45.696322   92  113.461264  30.632114
4  53  50.504232   92  104.461264  29.889149

In [11]:
cars = pd.DataFrame(cars, columns = ["HP","VOL","SP","WT","MPG"])
cars.head()

   HP  VOL          SP         WT        MPG
0  49   89  104.185353  28.762059  53.700681
1  55   92  105.461264  30.466833  50.013401
2  55   92  105.461264  30.193597  50.013401
3  70   92  113.461264  30.632114  45.696322
4  53   92  104.461264  29.889149  50.504232

### Description of columns
- MPG : Milage of the car
- HP : Horse power of the car
- VOL : Volume of the car (Size)
- SP : Top speed of the car(Miles per hour)
- WT : Weight of the car (Pounds)

### EDA

In [15]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81 entries, 0 to 80
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   HP      81 non-null     int64
 1   VOL     81 non-null     int64
 2   SP      81 non-null     float64
 3   WT      81 non-null     float64
 4   MPG     81 non-null     float64
dtypes: float64(3), int64(2)
memory usage: 3.3 KB

In [17]:
cars.isna().sum()

HP     0
VOL    0
SP     0
WT     0
MPG    0
dtype: int64

### Observations
- No missing values are oberved
- There are 81 observations
- All the datatypes are relavent for every column and valid

In [ ]:
fig, (ax_box ,ax_hist) = plt.subplots(2,sharex = True , gridspec_kw= {"height_ratios":(.15, .85)})

sns.boxplot(data = cars, x='HP',ax=ax_box, orient='h')
ax_box.set(xlabel = '')

sns.histplot(data=cars, x = 'HP',ax= ax_hist, ins)